.group-created-box
  .group-created-box__text グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name Taro
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to '#' do
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            = link_to '#' do
              %i.fa.fa-cog
    .groups
      = render partial: "group"

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id": "1359"} サッカー
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member Taro
          %li.main-header__left-box__member-list__member Syogo
        = link_to '#' do
          .main-header__edit-btn Edit
    .messages
      = render partial: "message"

    .form
      %form#new_message.new_message{"accept-charset": "UTF-8", action: "/groups/1408/messages", enctype: "multipart/form-data", method: "post"}
        .form-box
          %input.form-box__text{placeholder: "type a message",type: "text"}
            %label.form-box__image{for: "message_image"}
              %i.fa.fa-image
              %input#message_image.form-box__image__file{name: "message_image", type: "file"}/
        = link_to '#' do
          .submit-btn Send